<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'restaurant:admin_dashboard' %}">
                    <i class="bi bi-house"></i> Bosh Sahifa
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'restaurant:admin_manage_restaurants' %}">
                    <i class="bi bi-shop"></i> Restoranlar Boshqaruvi
                </a>
            </li>
        </ul>
    </div>
</nav>