<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'restaurant:owner_dashboard' slug=restaurant.slug %}">
                    <i class="bi bi-house"></i> Bosh Sahifa
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'restaurant:manage_menu' slug=restaurant.slug %}">
                    <i class="bi bi-menu-button"></i> Menyu Boshqaruvi
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'restaurant:manage_staff' slug=restaurant.slug %}">
                    <i class="bi bi-people"></i> Xodimlar Boshqaruvi
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'restaurant:manage_tables' slug=restaurant.slug %}">
                    <i class="bi bi-table"></i> Stollar Boshqaruvi
                </a>
            </li>
        </ul>
    </div>
</nav>