<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Document</title>

  <style>
    .send-button {
      background-color: #fdfdfd;
      border: none;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.2s ease;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .send-button:hover {
      background-color: #ffffff;
    }

    .send-button svg {
      width: 24px;
      height: 24px;
      fill: #0fa9e6;
    }
  </style>
</head>
<body>
  <nav>
    <a href="home">Bosh sahifa</a>
    <a href="about">Biz Haqimizda</a>
    <a href="contact">Bog'lanish</a>
    <a href="logout">logout</a>
    <a href="login">login</a>
  </nav>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="text">
    <button type="submit" class="send-button">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"
          fill="#0fa9e6"
          stroke="#0fa9e6"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="0.8"
        />
      </svg>
    </button>
  </form>
</body>
</html>

